// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.session-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  // border: 2px red solid;
  border-radius: 5px;

  h2 {
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 5px
  }

  h3 {
    -webkit-align-self: flex-start;
    padding: 10px 10px 5px 5px;
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }



  .session-form-input{
    width: 300px;
    height: 25px;
    margin: 5px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;

  }

  .session-form-submit {
    margin: 20px;
    padding: 7px;
    background-color: red;
    border: 0px;
    color: white;
    width: 200px;
    font-weight: 700;
    border-radius: 5px;
  }

  .session-form-switch {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

  }

  .session-button {
    text-decoration: none;
    text-align: center;
    margin: 20px;
    padding: 5px;
    border: 2px solid #5F9EA0;
    color: #5F9EA0;
    width: 80px;
    font-weight: 700;
    border-radius: 5px;

    &:hover{
      color: gray;
      background-image: url('https://media.giphy.com/media/4dLGxc3IKOFZ6/giphy.gif');
      background-size: 100% 100%;
      // animation: pulse .3s infinite;
    }

    @keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    33% {
      background-color: #FF4136;
    }
    66% {
      background-color: #7FFF00;
    }
    100% {
      background-color: #001F3F;
    }
  }
  }

}
