/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//BASIC DEFAULT STYLING

* {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

header {
  display: flex;
	padding: 20px;
	border-bottom: solid 2px gray;
  justify-content: space-between;

	h1 {
		font-size: 30px;
	}
	marquee {
		font-size: 30px;
	}

	.header-session{
		display: flex;
		align-items: center;
		flex-direction: row;
	}
}

#map-container{
	width: 500px;
	height: 500px;
}

.errors{
	color: red
}

.nav-button {
	text-align: center;
	background: white;
	padding: 3px;
	margin: 5px;
	border: 2px solid #5F9EA0;
	color: #5F9EA0;
	width: 80px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	// &:hover{
	// 	color: gray;
	// 	background-image: url('https://media.giphy.com/media/4dLGxc3IKOFZ6/giphy.gif');
	// 	background-size: 100% 100%;
	// 	// animation: pulse .3s infinite;
	// }
}

.home-container{
	height: 600px;
	background-size: 100%;
	background-image: image-url('home-splash.jpg')
}

.user-icon{
	height: 60px;
	width: 60px;
	background-size: cover;
	background-image: image-url('corgi.gif')
}

.inactive-edit {
	background-color: green;
}

.active-edit {
	background-color: red;
}

.hidden {
	display: none;
}
