/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//BASIC DEFAULT STYLING

* {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	min-height: 0;
  min-width: 0;
}

header {
  display: flex;
	padding: 20px;
	width: 100%;
	border-bottom: solid 2px gray;
  justify-content: space-between;


	marquee {
		font-size: 30px;
	}
	h1 {
  	padding: 0px 10px;
	}
	img {
		height: 50px;
		width: 50px;
		margin-left: 20px;
	}

	.header-session{
		display: flex;
		flex-direction: row;
	  margin-right: 30px;
		width: 400px;
		text-align: right;
		justify-content: flex-end;
	}
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

#map-container{
	width: 500px;
	height: 500px;
}

.errors{
	color: red;
}

.success{
	color: green;
	transition:all 0.3s ease;
}

.subtle-message {
	color: gray;
	font-style: italic;
	margin: 10px;
}

.nav-button {
	text-align: center;
	background: white;
	padding: 3px;
	margin: 5px;
	border: 2px solid #5F9EA0;
	color: #5F9EA0;
	width: 80px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	// &:hover{
	// 	color: gray;
	// 	background-image: url('https://media.giphy.com/media/4dLGxc3IKOFZ6/giphy.gif');
	// 	background-size: 100% 100%;
	// 	// animation: pulse .3s infinite;
	// }
}

.long-input {
	width: 400px;
	height: 100px;
}
.app-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  max-width: 1000px;
}

.user-icon{
	height: 60px;
	width: 60px;
	background-size: cover;
	background-image: image-url('corgi.gif');
	cursor: pointer;
}

.categories {

	max-width: 1000px;
	h1 {
		padding: 10px;
	}
}

.inner-categories {
	display: flex;
}


.hidden {
	display: none;
}

.profile-container {
	display: flex;
	justify-content: space-between;
  padding: 5px;
  margin: 15px;
  width: 800px;
}

.profile-container-nav{
	display: flex;
	flex-direction: column;
	min-width: 200px;
	flex: 1;
	a {
		text-decoration: none;
		font-size: 20px;
		margin: 10px;
	}
}

.profile-container-main{
	display: flex;
	flex: 4;
	margin: 10px;
	font-size: 18px;
}

.user-profile-container {
	display: flex;
	flex-direction: column;
}

.pets-container {
	display: flex;
	flex-direction: column;
}

.pets-container-item {
	display: flex;
	width: 700px;
  justify-content: space-between;
	border: solid 1px #d4d4d4;
	padding: 7px;
	margin: 10px 10px 10px 0px;
  border-radius: 4px;
  align-items: center;
}

.pets-row-container {
	display: flex;
	align-items: flex-start;
}

.pets-col-container {
	display: flex;
	flex-direction: column;
}

.active-edit {
	font-size: 15px;
	text-align: center;
	background: red;
	margin: 5px;
	border: 2px solid #5F9EA0;
	color: white;
	font-weight: 700;
	border-radius: 5px;
	height: 30px;
	cursor: pointer;
}

.inactive-edit {
	font-size: 15px;
	text-align: center;
	background: white;
	margin: 5px;
	border: 2px solid #5F9EA0;
	color: #5F9EA0;
	font-weight: 700;
	border-radius: 5px;
	height: 30px;
	cursor: pointer;
}

.delete-button {
	font-size: 15px;
	text-align: center;
	background: #e0502d;
	margin: 5px;
	color: white;
	font-weight: 700;
	border-radius: 5px;
	height: 30px;
	cursor: pointer;
}

.edit-section {
	background: silver;
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin: 10px 10px 10px 0;
	align-items: center;
	border-radius: 4px;
}

.home-splash {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 100%;
	background-size: 100%;
	background-image: image-url('home-splash.jpg');
	opacity: 0.7;

	h1 {
		margin: 50px;
	}
}

.location-category {
	display: flex;
	flex-direction: row;
}

.location-tile {
	height: 100%;
	width: 200px;
	border: 1px solid;
	padding: 10px 20px 30px 20px;
	background: white;
	margin: 10px;
	font-size: 16px;
	img {
		width: 100%;
	}
}

.stars {
	display: flex;

	span {
	  cursor: pointer;
	  font-size: 20px;
	  padding: 0 10px;
	  color: red;
	  transition: all 150ms;
	  display: inline-block;
	}
	span.hover {
	  color: #ff0;
	  opacity: 1;
	  transform: rotateX(0deg);
	  text-shadow: 0 0 30px #ffc;
	}
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 40px;
	width: 1000px;
}
