.modal {
  margin-top: 60px;
  margin-left: 20% ;
  margin-right: 20% ;
  min-height: 300px;
  min-width: 350px;
  background-color: white;
  opacity: 1;
}
.modal-close-button {
  float: right;
  font-size: 20px;
  padding: 0px 10px 10px 0px;
  background: none;
  color: gray;
  border: none;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize(black, 0.3);
}
