.modal {
  margin-top: 60px;
  margin-left: 20% ;
  margin-right: 20% ;
  min-height: 300px;
  min-width: 350px;
  background-color: white;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize(black, 0.3);
}
